doctype html
html
	head
		meta(charset='utf-8')
		title #{title}
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='bootstrap.css')
	body
		main.container.pt-3
			div.card
				h1.card-header #{title}
				div.card-body
					form#activator
						div.form-group
							div
								label Platform:
							div.form-check-inline
								label.form-check-label
									input.form-check-input(
										name='platform'
										type='radio'
										value='win'
										checked
									)
									span Windows
							div.form-check-inline
								label.form-check-label
									input.form-check-input(
										name='platform'
										type='radio'
										value='mac'
									)
									span Mac
						div.form-group
							label(for='serial-number') Serial Number:
							input#serial-number.form-control.text-monospace(
								name='serial-number'
								type='text'
								placeholder="Serial Number"
							)
						div.form-group
							label(for='request-code') Request Code:
							input#request-code.form-control.text-monospace(
								name='request-code'
								type='text'
								placeholder="Request Code"
							)
						div.form-group
							label(for='response-code') Response Code:
							input#response-code.form-control.text-monospace(
								name='response-code'
								type='text'
								placeholder="Response Code"
								readonly
							)
						button.btn.btn-primary(type='submit') Generate
				div.card-footer License: #{license}
		script(src='activator.js')
		script.
			(new activator.Gui(
				document.getElementById('activator'),
				'platform',
				'serial-number',
				'request-code',
				'response-code'
			)).init();
